<!DOCTYPE html>
<html>
  <head>
    <title>HOLAAAAA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>hola</h1>
    <p>Welcome to HOLAAAAA</p>
  </body>
</html>
